<body>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Роль</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userId}}</td>
        <td>{{user.role.name}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td><button class="btn btn-primary button-margin" (click)="Edit(user.userId)">Редактировать</button></td>
        <td><button class="btn btn-primary button-margin" (click)="Delete(user.userId)">Удалить</button></td>
      </tr>
    </tbody>
  </table>
</body>
