<div>
  <ul class="nav nav-tabs">
    <li class="active"> <a routerLink="/MainClient/CreateCountry">Добавить страну</a></li>
    <li class="active"> <a routerLink="/MainClient/CountriesTable">Cтраны</a></li>
    <li class="active"> <a routerLink="/MainClient/CreateHotel">Добавить отель</a></li>
    <li class="active"> <a routerLink="/MainClient/Hotels">Отели</a></li>
    <li class="active"> <a routerLink="/MainClient/CreateHotel">Добавить тур</a></li>
    <li class="active"> <a routerLink="/MainClient/Tours">Туры</a></li>
  </ul>
</div>
<div class="centerComp">
  <router-outlet></router-outlet>
</div>
