<body>
  <div class="center">
    <div class="form-group">
      <p><label>Название страны</label></p>
      <input class="form-control auth" name="Name" [(ngModel)]="newCounty.name" />
    </div>    
    <p><input type="radio" name="sea" (change)="onChange(true)">есть выход к морю</p>
    <p><input type="radio" name="sea" (change)="onChange(false)">нет выхода к морю</p>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="submit(newCounty)">Создать</button>
    </div>
  </div>
</body>
