<body>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Название Тура</th>
        <th>Оставшихся мест</th>
        <th>Страна</th>
        <th>Город</th>
        <th>Отель</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tour of tours">
        <td>{{tour.tourId}}</td>
        <td>{{tour.name}}</td>
        <td>{{tour.quantity}}</td>
        <td>{{tour.country}}</td>
        <td>{{tour.city}}</td>
        <td>{{tour.hotel}}</td>
        <td><a routerLink="/MainClient/UpdateTours/{{tour.tourId}}">Редактировать</a></td>
        <td><a routerLink="/MainClient/DeleteTour/{{tour.tourId}}">Удалить</a></td>
      </tr>
    </tbody>
  </table>
</body>
