<!--<div id="fh5co-tours" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Туры</h3>
      </div>
    </div>
    <div class="row">
      <div  *ngFor="let tour of tours" class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
        <div href="#">
          <img src="" alt="" class="img-responsive">
          <div class="desc">
            <span></span>
            <h3></h3>
            <span>5 ночей + Перелёт + Отель</span>
            <span class="price">$1,000</span>
            <a class="btn btn-primary btn-outline" href="#">Заказть сейчас <i class="icon-arrow-right22"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
        <div href="#">
          <img src="images/place-2.jpg" alt="" class="img-responsive">
          <div class="desc">
            <span></span>
            <h3>Moscow</h3>
            <span>10 ночей + Хостел + Перевоз</span>
            <span class="price">$1,000</span>
            <a class="btn btn-primary btn-outline" href="#">Заказать сейчас <i class="icon-arrow-right22"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
        <div href="#">
          <img src="images/place-3.jpg" alt="" class="img-responsive">
          <div class="desc">
            <span></span>
            <h3>Токио</h3>
            <span>5 ночей + Перелёт</span>
            <span class="price">$1,000</span>
            <a class="btn btn-primary btn-outline" href="#">Заказать сейчас <i class="icon-arrow-right22"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center animate-box">
        <p><a class="btn btn-primary btn-outline btn-lg" href="#">Посмотреть все туры<i class="icon-arrow-right22"></i></a></p>
      </div>
    </div>
  </div>
</div>-->
<table>
  <tbody>
    <tr *ngFor="let tour of tours">
      <td>{{tour.tourId}}</td>
      <td>{{tour.name}}</td>
      <td>{{tour.quantity}}</td>
      <td>{{tour.country}}</td>
      <td>{{tour.city}}</td>
      <td>{{tour.hotel}}</td>
      <td><a routerLink="/MainClient/UpdateTour/{{tour.tourId}}">Редактировать</a></td>
      <td><a routerLink="/MainClient/DeleteTour/{{tour.tourId}}">Удалить</a></td>
    </tr>
  </tbody>
</table>
