<div id="fh5co-destination">
  <div class="tour-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul id="fh5co-destination-list" class="animate-box">
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(0) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(0)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(0)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(1) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(1)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(1)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(2) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(2)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(2)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(3) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(3)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(3)}}</h2>
              </div>
            </a>
          </li>

          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(4) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(4)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(4)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-half text-center">
            <div class="title-bg">
              <div class="case-studies-summary">
                <h2>Наиболее популярные</h2>
                <span><a routerLink="/MainForAllUsers/AllTours">Увидеть все</a></span>
              </div>
            </div>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(5) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(5)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(5)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(6) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(6)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(6)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(7) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(7)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(7)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(8) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(8)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(8)}}</h2>
              </div>
            </a>
          </li>
          <li class="one-forth text-center" [ngStyle]="{'background-image': 'url(assets/страны/' + ContryName(9) + '.jpg)' }">
            <a routerLink="/MainForAllUsers/AllTours/{{ContryId(9)}}">
              <div class="case-studies-summary">
                <h2>{{ContryName(9)}}</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
