<body>
  <table>
    <thead>
      <tr>
        <th>Название запроса</th>
        <th>Имя Фамилия</th>
        <th>Статус</th>
        <th>Сумма</th>
        <th>Цель</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of proposals;let i=index">
        <td>{{proposal["name"]}}</td>
        <td>{{NameSurname(i)}}</td>
        <td>{{proposal["status"]["name"]}}</td>
        <td>{{proposal["amount"]}}</td>
        <td>{{proposal["purpose"]}}</td>
        <td><button class="btn btn-primary button-margin" (click)="Show(proposal.proposalId)">Просмотреть</button></td>
      </tr>
    </tbody>
  </table>
</body>
